body {
    background-color: #353955;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#counter {
    font-family: 'Redressed';
    font-size: 150px;
    color: orange;
}